a:hover{
    color: black;
    background-color: rgba(201, 201, 201, 0.637);
}

a:link{
    text-decoration: none;
}

.header{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.Home{
    font-weight: bold;
}

