a:hover{
    color: black;
    background-color: rgba(235, 235, 235, 0.637);
}

a:link{
    text-decoration: none;
}

.header{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.Home{
    font-weight: bold;
}

.Sobremi{
    font-weight: bold;
}

.Contacto{
    font-weight: bold;
}

.vacio{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%
    
}

.caja{
     box-sizing: border-box;
     background-color: rgba(216, 216, 216, 0.767);
     height: 30em;
     width: 30em;
     border: solid rgb(124, 124, 124);
     align-items: center;

}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Raleway';
    
}

.mensaje{
    font-family: 'Raleway';
    text-align: justify;
}

